<% if @group %>
    <h2><%= @group.name %> - group profile</h2>
    <% if user_signed_in? %>
        <%= link_to "Join group", join_group_path %>
    <% end %>
    <p><b>Founder:</b>
      <!-- Gehoert eigentlich ins Model... Ich habe '@group.founder.name' versucht, habe aber die Foreign-Key-Beziehung jedoch nicht hinbekommen. -->
      <%= link_to User.find(@group.founder).name, user_path(User.find(@group.founder).name) %>
    </p>
    <p>
      <b>Description:</b>
      <%= @group.description %>
    </p>
    <p>
        <b>Members:</b>
        <ul>
          <%= render @users %>
        </ul>
    </p>
    <p>
      <b>Members' latest additions:</b>
      <ul>
        <%= render @pictures %>
      </ul>
    </p>
    <hr/>
    <%= render @comments %>
    <%= render :partial => 'comments/form' %>
<% else %>
    We're sorry, group '<%= @group %>' could not be found.
<% end %>
