<% if @user %>
    <h2><%= @user.name %>'s profile</h2>
    <p><b>Default licence:</b> <%= Licence.find_by_id(@user.def_licence).name %>
    <p><b>Description:</b> <%= @user.description %></p>
    <p>
      <b>Galleries:</b>
      <ul>
        <%= render @albums %>
      </ul>
    </p>
    <p>
      <b>Groups:</b>
      <ul>
        <%= render @user.groups %>
      </ul>
    </p>
    <hr/>
    <%= render @comments %>
    <%= render :partial => 'comments/form' %>
<% else %>
    We're sorry, user '<%= @username %>' could not be found.
<% end %>
