<%= form_for(@album) do |f| %>
    <% if @album.errors.any? %>
        <ul>
          <% @album.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>