<%= form_for @picture do |f| %>
    <% if @picture.errors.any? %>
        <ul>
          <% @picture.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>
    <% f.hidden_field :album_id %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :licence, "Default licence" %>
      <%= f.collection_select(:licence, Licence.all, :id, :name,) %> [?]
    </p>
    <p>
      <%= f.label "Local picture" %>
      <%= f.file_field :image %>
      <%# TODO filetypes: jpg, png.. %>
    </p>
    <p>
      <%= f.label "URL of picture" %>
      <%= f.text_field :remote_image_url %>
    </p>
    <p>
      <%= f.label :source %>
      <%= f.text_field :source %>
    </p>
    <p>
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.submit "Upload Picture" %>
    </p>
<% end %>