<!DOCTYPE html>
<html>
<head>
  <title>Picgal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container">
      <div id="header">
        <h1><%= link_to "PicGal", root_path %></h1>
      </div>
      <div id="content">
        <% if flash[:notice] %>
            <p id="notice">
                <%= flash[:notice] %>
            </p>
        <% end %>
        <p>
          <%= yield %>
        </p>
      </div>
    </div>
    <div id="footer">
      <% if user_signed_in? %>
          Logged in as:
          <%= link_to current_user.name, user_path(current_user.name) %> |
          <%= link_to "Logout", logout_path, method: :delete %> |
          <%= link_to "Edit profile", edit_path %> |
          <%= link_to "New album", new_album_path %> |
      <% else %>
          <%= link_to "Login", login_path %> |
          <%= link_to "Sign up", signup_path %> |
      <% end %>
      <%=  link_to "Members", list_path %> |
      <%=  link_to "Support/FAQ", "http://lmgtfy.com/?q=picgal+help" %>
    </div>
</body>
</html>
